<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-searchbar [(ngModel)]="descLabel" (ionChange)="search()" 
        name="descLabel" type="text" placeholder="Pesquisar">
      </ion-searchbar>
  
      <ion-item *ngFor="let element of filterListSearch">
        <ion-label>{{element.label}}</ion-label>
        <ion-radio slot="start" [value]="element.value" (ionSelect)="elementSelected(element)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>  
</ion-content>
