<ion-header>
  <ion-toolbar>
    <ion-title>
      Select com filtro utilizando radio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-col size="12">
        <ion-label position="stac ked">Cidade</ion-label>
      <ion-row>
        <ion-input (click)="showCidadesSelect()" readonly [value]="cidade.label" placeholder="Selecione a cidade"></ion-input>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-item>
</ion-content>
